rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /bouquets/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /perfumes/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /advertisements/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /addons/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /voice_messages/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    // ئەمە دەرگا گشتییەکەیە بۆ پاراستن لە هەر ئێرۆرێک
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}