rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /bouquets/{userId}/{fileName} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    match /addons/{fileName} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /voice_messages/{fileName} {
      allow read: if true;
      allow write: if true;
    }
  }
}
